name: daily-cron
on:
  workflow_dispatch:
  schedule:
    - cron: '0 7 * * *'
jobs:
  cron:
    defaults:
      run:
        working-directory: ./services/stats
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: '1.18.3'
      - run: MYSQL_ROOT_PASSWORD=${{ secrets.MYSQL_ROOT_PASSWORD }} go run main.go
