name: daily-cron
on:
  schedule:
    - cron: '0 7 * * *'
jobs:
  cron:
    runs-on: ubuntu-latest
    steps:
      - name: Call our API route
        run: |
          curl --request POST \
          --url 'https://woodcut.vercel.app/api/cron' \
          --header 'Authorization: Bearer ${{ secrets.UPDATE_USERS_SECRET }}'
