name: manual-cron
on: workflow_dispatch
jobs:
  cron:
    defaults:
      run:
        working-directory: ./services
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version: '1.18.3'
      - run: go run main.go
